html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
}

/* Upside Menu */
.upside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: beige;
  width: 100%;
  height: 30px;
  opacity: 0.9;
  border-bottom: 1px solid black;
}

.upside-ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}

.upside-item:hover {
  opacity: 0.7;
}

/* Navigation Menu */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.hamburger-menu-display {
  display: none;
}

.desktop-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #272a31;
  padding: 5px 5%;
  border-bottom: 1px solid black;
}

.navbar-ul {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desktop-nav-link {
  color: #272a31;
  font-weight: 600;
}

.desktop-navbar ul li {
  margin: 0 1%;
  white-space: nowrap;
}

.desktop-navbar ul li:hover {
  opacity: 0.7;
}

.desktop-navbar ul li .CC-campaign {
  color: #272a31;
  border: solid 3px #ec5242;
  padding: 7px;
  white-space: nowrap;
  text-transform: capitalize;
  font-weight: bold;
}

.main-logo:hover {
  opacity: 0.7;
}

.main-logo-img {
  width: 70px;
  height: 70px;
  opacity: 0.8;
}

/* First Page */
.main-content-headers {
  width: 80%;
}

.main-content-headers h2 {
  font-size: 2.5rem;
}

.year {
  font-size: 4.5rem;
  margin-bottom: 5%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content {
  width: 80%;
  font-size: 1.25rem;
  background-color: greenyellow;
}

.infos {
  margin-top: 5%;
  margin-bottom: 0;
  width: 80%;
}

.bg-header-image {
  width: 80%;
}

.date {
  font-size: 2rem;
}

.location {
  font-size: 1.25rem;
}

/* Main Program */
.program-items {
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.program-item {
  position: relative;
  opacity: 0.8;
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 0;
  flex-wrap: wrap;
  background-color: rgba(211, 211, 211, 0.1882352941);
}

.item-icon {
  width: auto;
  margin: 20px 0;
  color: #fff;
}

.item-header {
  width: auto;
}

.item-content {
  width: auto;
  margin: 20px 0;
  color: #fff;
}

.main-btn {
  display: none;
}

.see-program {
  display: block;
  color: #ec5242;
  font-size: 1.5rem;
  margin-top: 5%;
}

.see-program:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* (This Years) Conference Speakers */
.speakers-btn {
  display: none;
}

.speakers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featured-speakers-header {
  margin: 0.1%;
}

.speakers-display {
  display: flex;
}

/* Partners */
.partners {
  width: 100%;
  opacity: 0.9;
  margin: 0;
  background: #272a31;
}

.partners-heading {
  margin-top: 1%;
}

.partners-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list-item {
  width: 200px;
  height: 200px;
}

.list-item-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1% 1%;
  cursor: pointer;
}

/* About Us */
.horizontal-line {
  width: 100px;
  margin-bottom: 1%;
  margin-top: 0.3%;
}

.about-us {
  margin-bottom: 1px;
  margin-top: 0;
}

.margin-top-big {
  margin-top: 5%;
}

.family-photo {
  margin-bottom: 0;
  margin-top: 0;
}

.about-us-content {
  font-size: 1.25rem;
}

/* (Gallery of) Previous Events */
.previous-events {
  width: 100%;
  margin: 0.1%;
}

.events {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.previous-content {
  margin-top: 0;
}

.previous-first-event {
  width: 40%;
  min-height: 300px;
  background: url("https://www.shoaibahmedshaikh.com/wp-content/uploads/2021/11/team-meet-3.jpg");
  background-size: cover;
  position: relative;
  opacity: 1;
  margin: 5% 0;
}

.previous-second-event {
  width: 40%;
  min-height: 300px;
  background: url("https://livestream.com/blog/wp-content/uploads/2021/03/live-stream-a-conference-guide_blog-header-scaled.jpg");
  background-size: cover;
  position: relative;
  opacity: 1;
  margin: 5% 0;
}

.first-event-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  color: #fff;
  cursor: pointer;
}

/* Footer */
.home-footer {
  display: flex;
  align-items: center;
  padding: 0.5% 20%;
  gap: 250px;
}

.host {
  width: 30%;
}

.host img {
  width: 100%;
}

.host-title {
  margin: 1px;
}

.host-title span {
  font-size: 2vw;
  font-weight: 600;
  font-family: 'lato', sans-serif;
}

/* Horizontal Line Position */
.full-horizontal-line {
  border-width: 0;
  height: 1px;
  background-color: #272a31;
  width: 100%;
  opacity: 0.6;
  margin: 0.5% 1%;
}
